/* Add here all your css styles (customizations) */
a.active {
    color: #faad11 !important;
    font-weight: none !important;
}

a:hover, .u-block-hover:hover .g-color-primary--hover, .g-color-primary--hover:hover {
    color: #faad11 !important;
}

.form-control:focus,
.form-control:focus-within,
.dropdown-toggle:focus
    /*.dropdown-toggle:focus .bootstrap-select*/
{
    border-color: #0240e9 !important;
    box-shadow: 0 0 2px #0240e9 !important;
}


.form-control:focus {
	border-color: #0240e9 !important; /* IE10 */
    box-shadow: 0 0 2px #0240e9!important;	/* IE10 */
	*::-ms-backdrop, border-color: #0240e9!important; 
	*::-ms-backdrop, box-shadow: 0 0 2px #0240e9!important;
}

.dropdown-toggle:focus {
	border-color: #0240e9 !important; /* IE10 */
    box-shadow: 0 0 2px #0240e9!important;	/* IE10 */
	*::-ms-backdrop, border-color: #0240e9!important; 
	*::-ms-backdrop, box-shadow: 0 0 2px #0240e9!important;
}


.message {
    position: fixed;
    top: 20px;
    text-align: center;
    color: #ffffff;
    z-index: 9999;
    width: 80%;
    margin: 0 10%;
}

.pagination li a {
    border: 1px solid #e1eaea !important;
    padding: 0.57143rem 0.85714rem !important;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    line-height: 1.6;
    color: #555;
    text-decoration: none;
    border-radius: 4px !important;
    display: inline-block;
    text-align: center;
}

.pagination li {
    margin-right: .5rem;
}

#signUpApartmentUser:hover,
#signUpRealtorUser:hover {
    cursor: pointer !important;
}

#signUpApartmentUser:hover .card, #signUpRealtorUser:hover .card,
#signUpApartmentUser.active .card, #signUpRealtorUser.active .card {
    background-color: #0240e9 !important;
    color: #ffffff !important;
}

#signUpApartmentUser:hover .rounded-circle, #signUpRealtorUser:hover .rounded-circle,
#signUpApartmentUser.active .rounded-circle, #signUpRealtorUser.active .rounded-circle {
    background-color: #333333 !important;
}

.autocomplete-suggestions { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-no-suggestion { padding: 2px 5px;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: bold; color: #051c3a; }
.autocomplete-group { padding: 2px 5px; font-weight: bold; font-size: 16px; color: #000; display: block; border-bottom: 1px solid #000; }

/*------------------------------------
  Bootstrap Select
------------------------------------*/
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: auto;
}

.bootstrap-select .dropdown-menu.inner {
    display: block;
}

.bootstrap-select .dropdown-menu.inner::after {
    content: "";
    display: none;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    vertical-align: middle;
    float: none;
}

/*------------------------------------
  Selects
------------------------------------*/
/*------------------------------------
  Select v1
------------------------------------*/
.u-select--v1 {
    line-height: 1;
    position: relative;
}

.u-select--v1-select .dropdown-toggle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    line-height: 1;
    background: none;
    border: none;
    padding: 0;
}

.u-select--v1-select .dropdown-toggle::after {
    content: "";
    display: none;
}

.u-select--v1-select .dropdown-toggle:hover, .u-select--v1-select .dropdown-toggle:active, .u-select--v1-select .dropdown-toggle:focus {
    outline: 0 none !important;
}

.u-select--v1-select .bs-caret {
    display: none;
}

.u-select--v1-select .dropdown-menu[role="combobox"] {
    border: none;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
    margin-top: 0.71429rem;
    margin-left: -0.71429rem;
}

.u-select--v1-select .dropdown-menu[role="listbox"] a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap;
    min-height: 3.57143rem;
    padding: 0 1.78571rem;
}

.u-select--v1-select .dropdown-menu[role="listbox"] a:hover {
    text-decoration: none;
    background-color: #f5f9f9;
}

@media (min-width: 576px) {
    .u-select--v1-select .dropdown-menu[role="combobox"] {
        min-width: calc(100% + 60px);
        margin-top: 1.78571rem;
        margin-left: -2.14286rem;
    }

    .u-select--v1-select .dropdown-menu[role="listbox"] a {
        padding: 0 2.14286rem;
    }
}

/*------------------------------------
  Select v2
------------------------------------*/
.u-select--v2 {
    position: relative;
    border: 1px solid;
}

.u-select--v2-select .divider {
    border-top: 1px solid #e1eaea;
}

.u-select--v2-select .dropdown-toggle {
    background: none;
    color: inherit;
    border: none;
    padding: 0.71429rem 1.42857rem;
}

.u-select--v2-select .dropdown-toggle::after {
    content: "";
    display: none;
}

.u-select--v2-select .dropdown-toggle:hover, .u-select--v2-select .dropdown-toggle:active, .u-select--v2-select .dropdown-toggle:focus {
    outline: 0 none !important;
}

.u-select--v2-select .filter-option {
    color: inherit;
}

.u-select--v2-select .bs-caret {
    display: none;
}

.u-select--v2-select .dropdown-menu[role="combobox"] {
    min-width: calc(100% + 2px);
    border: 1px solid #e1eaea;
    margin-top: 0.35714rem;
    margin-left: -1px;
}

.u-select--v2-select .dropdown-menu[role="listbox"] a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #53585e;
    white-space: nowrap;
    min-height: 2.85714rem;
    padding: 0 1.42857rem;
}

.u-select--v2-select .dropdown-menu[role="listbox"] a:hover {
    text-decoration: none;
    background-color: #f5f9f9;
}

.u-select--v2-select.dropup .dropdown-menu[role="combobox"] {
    margin-top: 0;
    margin-bottom: 0.35714rem;
}

/*------------------------------------
  Select v3
------------------------------------*/
.u-select--v3 {
    position: relative;
    border: 1px solid;
}

.u-select--v3-select .divider {
    border-top: 1px solid #e1eaea;
}

.u-select--v3-select .dropdown-toggle {
    background: none;
    color: inherit;
    border: none;
    padding: 1.07143rem 2.85714rem 1.07143rem 1.42857rem;
}

.u-select--v3-select .dropdown-toggle::after {
    content: "";
    display: none;
}

.u-select--v3-select .dropdown-toggle:hover, .u-select--v3-select .dropdown-toggle:active, .u-select--v3-select .dropdown-toggle:focus {
    outline: 0 none !important;
}

.u-select--v3-select .filter-option {
    color: inherit;
}

.u-select--v3-select .filter-option i {
    display: none;
}

.u-select--v3-select .bs-caret {
    display: none;
}

.u-select--v3-select .bs-searchbox {
    position: relative;
    padding: 1.57143rem 1.14286rem 0.57143rem;
}

.u-select--v3-select .bs-searchbox::before {
    content: "\ea0f";
    position: absolute;
    top: 32px;
    left: 32px;
    font-size: 16px;
    font-family: "hs-admin-icons", sans-serif;
    color: #bfcece;
}

.u-select--v3-select .bs-searchbox input {
    color: #53585e;
    border: 1px solid #e1eaea;
    border-radius: 4px;
    padding: 10px 20px 10px 50px;
}

.u-select--v3-select .bs-searchbox input:focus {
    border-color: #22bfdd;
}

.u-select--v3-select .dropdown-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1rem;
    color: #acbdbd;
    min-height: 3.42857rem;
    padding: 0 1.42857rem;
}

.u-select--v3-select .dropdown-menu[role="combobox"] {
    min-width: calc(100% + 2px);
    border: none;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
    margin-top: 0.71429rem;
    margin-left: -1px;
    max-height: 460px !important;
}

.u-select--v3-select .dropdown-menu[role="listbox"] li.hidden {
    display: none;
}

.u-select--v3-select .dropdown-menu[role="listbox"] a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #53585e;
    white-space: nowrap;
    min-height: 3.42857rem;
    padding: 0 1.42857rem !important;
}

.u-select--v3-select .dropdown-menu[role="listbox"] a i {
    color: #bfcece;
}

.u-select--v3-select .dropdown-menu[role="listbox"] li:hover a,
.u-select--v3-select .dropdown-menu[role="listbox"] li.active a {
    text-decoration: none;
    background-color: #f5f9f9;
    color: #000;
}

.u-select--v3-select .dropdown-menu[role="listbox"] li:hover a i,
.u-select--v3-select .dropdown-menu[role="listbox"] li.active a i {
    color: #bfcece;
}

.u-select--v3-select.dropup .dropdown-menu[role="combobox"] {
    margin-top: 0;
    margin-bottom: 0.71429rem;
}

.u-select-dropdown--blue-theme .dropdown-menu[role="listbox"] li:hover a,
.u-select-dropdown--blue-theme .dropdown-menu[role="listbox"] li.active a {
    color: #22bfdd;
}

.u-select-dropdown--blue-theme .dropdown-menu[role="listbox"] li:hover a i,
.u-select-dropdown--blue-theme .dropdown-menu[role="listbox"] li.active a i {
    color: #22bfdd;
}

.u-select-dropdown--width-auto .dropdown-menu[role="combobox"] {
    min-width: calc(220px - 2px);
}

.u-select-dropdown--right .dropdown-menu[role="combobox"] {
    left: auto !important;
    right: 0;
    margin-left: 0;
    margin-right: -1px;
}

.u-select-dropdown--search-rounded .bs-searchbox input {
    border-radius: 25px;
}

.u-select-dropdown--search-line .bs-searchbox input {
    border-radius: 0;
    border-width: 0 0 1px 0;
    padding-left: 0 !important;
}

.u-select-dropdown--search-right .bs-searchbox::before {
    left: auto;
    right: 32px;
}

.u-select-dropdown--search-right .bs-searchbox input {
    padding: 10px 50px 10px 20px;
}

.u-select-dropdown--visible-result-icon .filter-option i {
    display: block;
}

/*------------------------------------
  Multi Selects
------------------------------------*/
/*------------------------------------
  Multi Select v1
------------------------------------*/
.u-multi-select--v1 {
    display: block;
    width: auto;
    background: none;
}

.u-multi-select--v1 .ms-selectable,
.u-multi-select--v1 .ms-selection {
    width: 100%;
    float: none;
}

.u-multi-select--v1 .ms-selectable .ms-list,
.u-multi-select--v1 .ms-selection .ms-list {
    height: auto;
    border-color: #e1eaea;
    border-radius: 4px;
    box-shadow: none;
}

.u-multi-select--v1 .ms-selectable .ms-list li,
.u-multi-select--v1 .ms-selection .ms-list li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    color: #53585e;
    white-space: nowrap;
    min-height: 3.42857rem;
    border-bottom: none;
    padding: 0 1.42857rem !important;
}

.u-multi-select--v1 .ms-selectable .ms-list li i,
.u-multi-select--v1 .ms-selection .ms-list li i {
    color: #bfcece;
}

.u-multi-select--v1 .ms-selectable .ms-list li.ms-hover, .u-multi-select--v1 .ms-selectable .ms-list li:hover,
.u-multi-select--v1 .ms-selection .ms-list li.ms-hover,
.u-multi-select--v1 .ms-selection .ms-list li:hover {
    text-decoration: none;
    background-color: #f5f9f9;
    color: #000;
}

.u-multi-select--v1 .ms-selectable .ms-list li.ms-hover i, .u-multi-select--v1 .ms-selectable .ms-list li:hover i,
.u-multi-select--v1 .ms-selection .ms-list li.ms-hover i,
.u-multi-select--v1 .ms-selection .ms-list li:hover i {
    color: #bfcece;
}

.u-multi-select--v1 .ms-selection {
    margin-left: auto;
}

.u-multi-select--blue-theme .ms-selectable,
.u-multi-select--blue-theme .ms-selection {
    background-color: #f5f9f9;
}

.u-multi-select--blue-theme .ms-selectable .ms-list li.ms-hover, .u-multi-select--blue-theme .ms-selectable .ms-list li:hover,
.u-multi-select--blue-theme .ms-selection .ms-list li.ms-hover,
.u-multi-select--blue-theme .ms-selection .ms-list li:hover {
    background-color: #22bfdd;
    color: #fff;
}

.u-multi-select--blue-theme .ms-selectable .ms-list li.ms-hover i, .u-multi-select--blue-theme .ms-selectable .ms-list li:hover i,
.u-multi-select--blue-theme .ms-selection .ms-list li.ms-hover i,
.u-multi-select--blue-theme .ms-selection .ms-list li:hover i {
    color: #fff;
}

.u-multi-select--items-lg .ms-selectable .ms-list li,
.u-multi-select--items-lg .ms-selection .ms-list li {
    min-height: 4rem;
}

.u-multi-select--rounded-0 .ms-selectable .ms-list,
.u-multi-select--rounded-0 .ms-selection .ms-list {
    border-radius: 0;
}

.u-multi-select--items-icons .ms-selectable .ms-list li,
.u-multi-select--items-icons .ms-selection .ms-list li {
    position: relative;
}

.u-multi-select--items-icons .ms-selectable .ms-list li::after,
.u-multi-select--items-icons .ms-selection .ms-list li::after {
    position: absolute;
    top: 50%;
    right: 15px;
    display: inline-block;
    font-family: "hs-admin-icons", sans-serif;
    color: #bfcece;
    opacity: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.u-multi-select--items-icons .ms-selectable .ms-list li:hover::after,
.u-multi-select--items-icons .ms-selection .ms-list li:hover::after {
    opacity: 1;
}

.u-multi-select--items-icons .ms-selectable .ms-list li::after {
    content: "\e9fd";
    width: 18px;
    height: 18px;
    line-height: 18px;
    background-color: #1cc9e4;
    font-size: 14px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
}

.u-multi-select--items-icons .ms-selection .ms-list li::after {
    content: "\ea3b";
    font-size: 18px;
}

@media (min-width: 768px) {
    .u-multi-select--v1 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .u-multi-select--v1 .ms-selectable,
    .u-multi-select--v1 .ms-selection {
        width: 45%;
    }

    .u-multi-select--v1 .ms-selectable .ms-list,
    .u-multi-select--v1 .ms-selection .ms-list {
        height: 100%;
    }
}

filter-option pull-left
.u-navbar--inline-submenu .dropdown-menu::before {
    right: 100%;
}

/*------------------------------------
  Toasts v1
------------------------------------*/
[class*="noty_theme__unify--v1"] {
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 1.57143rem;
}

.noty_theme__unify--v1--dark {
    background-color: #2e3c56;
}

.noty_theme__unify--v1--light {
    background-color: #fff;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.05);
}

.noty_type__success.noty_theme__unify--v1 {
    background-color: #1cc9e4;
}

.noty_type__info.noty_theme__unify--v1 {
    background-color: #1d75e5;
}

.noty_type__error.noty_theme__unify--v1 {
    background-color: #e62154;
}

.noty_type__warning.noty_theme__unify--v1 {
    background-color: #e6a821;
}

.noty_body {
    font-weight: 400;
    font-size: 1rem;
    color: #fff;
}

[class*="noty_theme__unify--v1"] .noty_body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.noty_theme__unify--v1--light .noty_body {
    color: #41464B;
}

.noty_body__icon {
    position: relative;
    display: inline-block;
    color: #fff;
    text-align: center;
    border-radius: 50%;
}

.noty_body__icon::before {
    display: block;
}

.noty_body__icon > i {
    position: relative;
    top: 50%;
    display: block;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
}

.noty_theme__unify--v1 .noty_body__icon {
    background-color: rgba(245, 249, 249, 0.2);
}

.noty_theme__unify--v1--dark .noty_body__icon {
    background-color: rgba(245, 249, 249, 0.1);
}

.noty_theme__unify--v1--dark.noty_type__success .noty_body__icon {
    color: #1cc9e4;
}

.noty_theme__unify--v1--dark.noty_type__info .noty_body__icon {
    color: #1d75e5;
}

.noty_theme__unify--v1--dark.noty_type__error .noty_body__icon {
    color: #e62154;
}

.noty_theme__unify--v1--dark.noty_type__warning .noty_body__icon {
    color: #e6a821;
}

.noty_theme__unify--v1--light.noty_type__success .noty_body__icon {
    background-color: rgba(28, 201, 228, 0.15);
    color: #1cc9e4;
}

.noty_theme__unify--v1--light.noty_type__info .noty_body__icon {
    background-color: rgba(29, 117, 229, 0.15);
    color: #1d75e5;
}

.noty_theme__unify--v1--light.noty_type__error .noty_body__icon {
    background-color: rgba(230, 33, 84, 0.15);
    color: #e62154;
}

.noty_theme__unify--v1--light.noty_type__warning .noty_body__icon {
    background-color: rgba(230, 168, 33, 0.15);
    color: #e6a821;
}

[class*="noty_theme__unify--v1"] .noty_close_button {
    top: 14px;
    right: 14px;
    width: 0.85714rem;
    height: 0.85714rem;
    line-height: 0.85714rem;
    background-color: transparent;
    font-weight: 300;
    font-size: 1.71429rem;
    color: #fff;
    border-radius: 0;
}

.noty_theme__unify--v1--light .noty_close_button {
    color: #cad6d6;
}

.noty_progressbar {
    height: 0.5rem !important;
}

.noty_theme__unify--v1 .noty_progressbar {
    background-color: rgba(0, 0, 0, 0.08) !important;
}

.noty_theme__unify--v1--dark.noty_type__success .noty_progressbar {
    background-color: #1cc9e4;
}

.noty_theme__unify--v1--dark.noty_type__info .noty_progressbar {
    background-color: #1d75e5;
}

.noty_theme__unify--v1--dark.noty_type__error .noty_progressbar {
    background-color: #e62154;
}

.noty_theme__unify--v1--dark.noty_type__warning .noty_progressbar {
    background-color: #e6a821;
}

.noty_theme__unify--v1--light.noty_type__success .noty_progressbar {
    background-color: rgba(28, 201, 228, 0.15);
}

.noty_theme__unify--v1--light.noty_type__info .noty_progressbar {
    background-color: rgba(29, 117, 229, 0.15);
}

.noty_theme__unify--v1--light.noty_type__error .noty_progressbar {
    background-color: rgba(230, 33, 84, 0.15);
}

.noty_theme__unify--v1--light.noty_type__warning .noty_progressbar {
    background-color: rgba(230, 168, 33, 0.15);
}
.ntf{
    position: fixed !important;
    top: 1% !important;
    right: 1% !important;
    width: 50%!important;
    margin: 0px!important;
    padding: 40px!important;
}

.u-icon-v2, .u-icon-v2 .u-icon__elem-regular,
.u-icon-v2 .u-icon__elem-hover, .u-icon-v3, .u-icon-v3 .u-icon__elem-regular,
.u-icon-v3 .u-icon__elem-hover, .u-icon-v4 .u-icon-v4-inner, .u-icon-v4 .u-icon__elem-regular,
.u-icon-v4 .u-icon__elem-hover, .u-icon-v5, .noty_body__icon {
    width: 3.92857rem;
    height: 3.92857rem;
    font-size: 1.57143rem;
}





/* New Edits */


.u-header__section--light .hamburger-inner, .u-header__section--light .hamburger-inner::after, .u-header__section--light .hamburger-inner::before {
background:#fff;
}


.u-btn-primary:hover, .u-btn-primary.active {
    border-color: #0240e9;
    background-color: #fff;
	border: 1px solid #0240e9;
}


a:focus, a:hover {
    color: #00ccff;
}

.g-bg-black-opacity-0_9 {
    background: -moz-linear-gradient(to right,#0240e9 0, #0240e9 100%);
    background: -webkit-linear-gradient(to right,#0240e9 0,#0240e9 100%);
    background: linear-gradient(to right,#0240e9 0,#0240e9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6fc612',endColorstr='#00e1be',GradientType=1);
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
}

.u-carousel-indicators-v34 span {
    border: 2px solid #0240e9;
}

.u-carousel-indicators-v34 li.slick-active span{
background-color: #0240e9;
}

.user-text {
	color:#333333 !important;
}

.active .user-text {
color:#ffffff !important;
}

 *::-ms-backdrop, container g-bg-cover__inner g-py-100 {
margin-right:10%
}

 *::-ms-backdrop, .g-py-100 {
margin-right:10%
 }

 .u-carousel-indicators-v34 li {
	 display:none;

 }

  .dzsparallaxer.height-is-based-on-content > div {
    height: 610px;
}


  .u-btn-primary {
    color: #fff;
    background-color: #0240e9;
}


 .u-btn-primary:hover, .u-btn-primary:active {
    color: #fff;
    background-color: #fff;
}


.u-btn-primary:hover, .u-btn-primary:active {
    color: #00305e;
    background-color: #fff;
}



.tcenter {

text-align:auto;
}


header .g-py-15, .g-py-7 {
	padding:0px!important;

}

header .g-mx-minus-4 {
	display:none;
	margin:0px!important;
}

header .u-btn-outline-primary:hover {
    color: #fff;
    background-color: #0240e9;
}

.btn-special {

background-color:#faad10;
border-color:#faad10;
color:#00305e;
}

.btn-special:hover {

background-color:#fff!important;
border-color:#fff;
color:#00305e;
}



.btn-login {
	background-color:inherit;

}


.btn-login:hover {
	background-color:#fff!important;

}


.bounce {
  display: inline-block;
  position: relative;
  -moz-animation: bounce 0.5s infinite linear;
  -o-animation: bounce 0.5s infinite linear;
  -webkit-animation: bounce 0.5s infinite linear;
  animation: bounce 0.5s infinite linear;
  colr:000;
}
.fa-arrow-right{

}
@-webkit-keyframes bounce {
    0% { left: 0; }
    50% { left: -0.2em; }
    70% { left: -0.3em; }
    100% { left: 0; }
}
@-moz-keyframes bounce {
    0% { left: 0; }
    50% { left: -0.2em; }
    70% { left: -0.3em; }
    100% { left: 0; }
}
@-o-keyframes bounce {
    0% { left: 0; }
    50% { left: -0.2em; }
    70% { left: -0.3em; }
    100% { left: 0; }
}
@-ms-keyframes bounce {
    0% { left: 0; }
    50% { left: -0.2em; }
    70% { left: -0.3em; }
    100% { left: 0; }
}
@keyframes bounce {
    0% { left: 0; }
    50% { left: -0.2em; }
    70% { left: -0.3em; }
    100% { left: 0; }
}





 @media(max-width: 1920px) {

 .dzsparallaxer.height-is-based-on-content > div {
   height: 740px;
}

 *::-ms-backdrop, .dzsparallaxer.height-is-based-on-content > div  {
	 	 height: 700px;
 }


.size36 {
    font-size: 36px;
    font-weight: bold;
    line-height: 32px;
}
 .size24 {
	 font-size:24px	;
	    font-weight: bold;
     line-height: 1.4em;

 }


.g-bg-cover__inner {
    z-index: 1;
    position: relative;
    max-width: 80%;
}

 }


 @media(max-width: 1360px) {

 .dzsparallaxer.height-is-based-on-content > div {
   height: 610px;
}


.size36 {
     font-weight: bold;
    line-height: 1.4;
    font-size: 2rem;
}
 .size24 {
	line-height: 1.4;
	font-size: 1.75rem;
	font-weight: normal;

 }


.g-bg-cover__inner {
    z-index: 1;
    position: relative;
    max-width: 1280px;
}


 }






@media(max-width: 1024px) {

	.g-color-black {
		color: #fff !important;
	}

	.g-color-black {
		color: #fff !important;
	}


	.js-carousel.slick-initialized .js-slide, .js-carousel.slick-initialized .js-thumb {
		background-position: center left;
		background-size: cover;

	}

		.g-pl-30 {
    padding-left:0px;!important;
}

header .g-hidden-xs-down {
    display: block!important;
    margin-bottom: 12px;
}

}





@media(max-width: 768px) {


header .g-hidden-xs-down {
    display: block!important;
    margin-bottom: 12px;
}


	.g-color-black {
		color: #fff !important;
	}

	.g-color-black {
		color: #fff !important;
	}


	.js-carousel.slick-initialized .js-slide, .js-carousel.slick-initialized .js-thumb {
		background-position: center left;
		background-size: cover;

	}

	.g-pl-30 {
    padding-left:0px;!important;
}

.tcenter {

	text-align:center;
}

}
