*{
  padding: 0px; margin: 0px;
}
@font-face {
    font-family: 'robotoblack';
    src: url('../font/roboto-black-webfont.woff2') format('woff2'),
         url('../font/roboto-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotobold';
    src: url('../font/roboto-bold-webfont.woff2') format('woff2'),
         url('../font/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoitalic';
    src: url('../font/roboto-italic-webfont.woff2') format('woff2'),
         url('../font/roboto-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotolight';
    src: url('../font/roboto-light-webfont.woff2') format('woff2'),
         url('../font/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotomedium';
    src: url('../font/roboto-medium-webfont.woff2') format('woff2'),
         url('../font/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoregular';
    src: url('../font/roboto-regular-webfont.woff2') format('woff2'),
         url('../font/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotothin';
    src: url('../font/roboto-thin-webfont.woff2') format('woff2'),
         url('../font/roboto-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
h1, h2, h3, h4, h5, h6{
  margin: 0px;
}
img{
  max-width: 100%;
}
p{
  color: #666; font-size: 14px; margin: 0px; line-height: 24px;
}
a{
  text-decoration: none;
}
body{
  font-family: 'robotoregular';
}
.banner-bg::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.banner-outer {
  display: table;
  width: 100%;
  text-align: center;
  padding: 0px 5%;
  position: absolute;
  top: 0px;
  height: 100%;
  left: 0px; z-index: 2;
}
.banner-left {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
  padding: 0px 5%;
  text-align: left; padding-left: 0px;
}
.banner-right {
  display: table-cell;
  vertical-align: middle; width: 50%; padding: 0px 5%; padding-right: 0px;
}
.bnr-img {
  border:5px solid #fff; display: inline-block; width: 100%;
}
.bnr-arrow {
  position: absolute;
  z-index: 2;
  left: 0px;
  right: 0px;
  bottom: 20px;
  margin: auto;
  width: 35px;
    -webkit-animation-name: bnr-arrow;
  -webkit-animation-duration: 2s;
  animation-name: bnr-arrow;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes bnr-arrow {
  0%   {bottom: 20px;}
  50%   {bottom: 40px;}
  100%   {bottom: 20px;}
}

@keyframes bnr-arrow {
  0%   {bottom: 20px;}
  50%   {bottom: 40px;}
  100%   {bottom: 20px;}
}

@-moz-keyframes bnr-arrow {
  0%   {bottom: 20px;}
  50%   {bottom: 40px;}
  100%   {bottom: 20px;}
}

.bnr-srh-btn i {
  font-size: 14px;
  margin-left: 3px;
}
.bnr-img img{
  float: left; width: 100%;
}
.banner-bg{
  background:url(../img/home-bg.jpg) no-repeat; background-size: cover; position: relative;
  height: calc(100vh - 123px); overflow: hidden;
}
.banner-left h4{
  font-size: 60px; color: #fff; text-transform: uppercase; font-family: 'robotobold'; margin-bottom: 15px;
}
.p-tb-80{
  padding: 70px 0px;
}
.heading{
  font-size: 32px; text-transform: uppercase; font-family: 'robotobold'; color: #000; position: relative; padding-bottom: 35px; margin-bottom: 60px;
}
.heading::after{
  height: 5px; width: 40px; position: absolute; content: ""; left: 0px; right: 0px; bottom: 0px; background-color: #a08a58; margin: auto;
}
.block-slider-content{
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border:1px solid #ddd; border-top:none; padding: 25px; background: #fff;
}
.title{
  font-size: 18px; text-transform: capitalize; color: #000; font-family: 'robotobold';
}
.block-slider-content h4 i{
  font-size: 16px; position: absolute; left: 4px; color: #a08a58;
}
.block-slider-content h4{
  position: relative; padding-left: 25px; margin-bottom: 10px;
}
.block-slider-content h5 i{
  font-size: 16px; position: absolute; left: 0px; color: #a08a58;
}
.block-slider-content h5 {
  position: relative;
  padding-left: 25px;
  color: #666;
  font-size: 16px; font-family: 'robotomedium';
}
.block-slider-content ul {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-top: 25px;
  margin-bottom: 24px;
}
.block-slider-content ul li {
  display: inline-block;
  vertical-align: middle;
  border-left: 1px solid #ddd;
  margin: 10px 0px; width: 49%; text-align: center;
}
.block-slider-content ul li:first-child{
  border:none;
}
.block-slider-content ul li i{
  font-size: 14px; color: #666; display: inline-block; vertical-align: middle; margin-right: 3px;
}
.block-slider-content ul li p{
  display: inline-block; vertical-align: middle;
}
.review-star{
  float: left;
}
.review-star i{
  color: #fecc00; font-size: 16px;
}
.review-btn {
  float: right;
}
.btn {
  background-color: #a08a58;
  color: #fff !important;
  font-size: 14px;
  padding: 10px 15px; font-family: 'robotomedium'; border: none;
}
.block-slider-img{
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; overflow: hidden; position: relative;
}
.review-btn h2{
    font-size: 18px; color: #000; font-family: 'robotobold';
}
.block-sale {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
  border-radius: 3px;
  background-color: #a08a58;
  font-size: 12px;
  padding: 5px 10px; font-family: 'robotomedium'; color: #fff;
}
.owl-nav {
  position: absolute;
  top: 0px;
  bottom: 0px;
  margin: auto;
  height: 0px;
  width: 100%;
}
.owl-next {
  float: right;
}
.agent-right-content h4{
  font-size: 32px;
  text-transform: uppercase;
  font-family: 'robotobold';
  color: #000;
  position: relative;
}
.agent-left-content h5{
  font-size: 16px;  margin: 10px 0px;
}
.bg-grey{
  background-color: #f5f5f5;
}
.agent-left-content ul li{
  position: relative; display: inline-block; width: 100%;
}
.agent-left-content ul li a{
  color: #000; font-size: 16px; padding-left: 20px; font-family: 'robotobold';
}
.agent-left-content ul li a i{
  font-size: 14px; color: #000; position: absolute; top: 7px; left: 0px;
}
.agent-right-content p {
  padding: 15px 0px;
}
.btn-large{
  font-size: 18px; padding: 14px 25px; white-space: inherit;
}
.header-outer {
  float: left;
  width: 100%;
  z-index: 22;
}
.banner-search{
  position: relative; overflow: hidden;
}
.banner-search input[type=text]{
  float: left; width: 100%; border-radius: 50px; background-color: #fff; border:1px solid #ddd; padding-left: 24px; color: #000; font-size: 14px;
  height: 52px;
}
.bnr-srh-btn {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 16px 27px;
  border-radius: 50px; text-transform: uppercase; font-family: 'robotobold';
}
.header-outer.fixed {
  background: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.22);
}
.header-name-outer {
  float: left;
  width: auto;
}
.header-name-outer h4 {
  font-size: 14px;
  color: #666;
  margin-top: 0px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}
.header-name-outer h4 span{
  font-family: 'robotomedium'; color: #000; font-size: 16px;
}
.header-phone-outer{
  float: right;
}
.header-phone-outer ul {
  display: inline-block;
  margin: 0px;
}
.header-phone-outer ul li {
  display: inline-block; vertical-align: top;
}
.header-phone-outer ul li a {
  color: #000;
  font-size: 16px; font-family: 'robotobold';
}
.header-phone-outer ul li a i{
  color: #a08a58;
}
.header-top {
  border-bottom: 1px solid #eee;
  padding: 8px 15px;
}
.add-block-outer {
  width: 21%;
  display: inline-block;
  vertical-align: top;
  margin: 0px 1.5%;
  background: #a08a58;
  border-radius: 5px;
  padding: 64px 20px;
  height: 212px;
}
.add-block-outer h4 {
  font-size: 18px;
  text-transform: uppercase; font-family: 'robotobold'; color: #fff;
}
.add-block-outer i {
  font-size: 24px;
  margin-bottom: 10px; color: #fff;
}
.owl-prev {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: #a08a58 !important;
  left: -60px !important;
  position: absolute;
}
.owl-next {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: #a08a58 !important;
  right: -60px !important;
  position: absolute;
}
.owl-prev span{
  font-size: 28px; line-height: 22px;color: #fff;
}
.owl-next span{
  font-size: 28px; line-height: 22px; color: #fff;
}
.navbar-brand img {
  max-width: 250px;
}
.navbar-expand-lg .navbar-nav .nav-link {
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
  padding: 20px 20px;
}
.form-control{
  font-size: 14px; height: 45px !important;
}
.p-tb-60{
  padding: 60px 0px;
}
.main-footer{
  background-color: #000;
}
.footer-inner h4{
  color: #fff; text-transform: uppercase; font-size: 20px; font-family: 'robotobold'; margin-bottom: 10px;
}
.footer-links li{
  float: left; width: 100%; display: inline-block; margin: 6px 0px;
}
.footer-links li a{
  float: left; width: 100%; font-size: 14px; color: #fff; text-decoration: none;
}
.footer-links li a:hover{
  color: #a08a58;
}
.footer-inner p {
  color: #fff;
  margin-top: 6px;
  margin-bottom: 15px;
}
.footer-sol li {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin-right: 5px;
}
.footer-sol li a{
  display: inline-block;
  vertical-align: top;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  text-align: center;
  background-color: #a08a58;
  padding: 9px 0px;
}
.footer-sol li i{
  font-size: 18px; color: #fff;
}

.navbar-toggler-icon i {
  font-size: 22px;
  margin-top: 3px;
}
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
  display: block;
}
.home-pop-btn-out h4{
  font-size: 18px; text-transform: uppercase; font-family: 'robotobold'; margin-top: 5px;
}
.home-pop-btn-out .btn {
  width: 100%;
  margin: 10px 0px;
  background: transparent;
  border: 1px solid #ddd;
}
.home-pop-btn-out select{
  margin: 10px 0px;
}
.home-pop-btn-out .btn:hover{
  background-color: #a08a58; border:1px solid #a08a58;
}
.modal-header{
  background-color: #a08a58; border: none;
}
.modal-header h4{
  text-transform: uppercase; font-size: 20px; font-family: 'robotobold';color: #fff;
}
.modal-body {
  padding: 30px;
}
.btn-danger:hover {
  color: #fff !important;
}
.footer-btm {
  background: #111;
  padding: 32px 0px;
}
.footer-btm p{
  color: #fff; margin: 8px 0px;
}
.footer-btm a{
  color: #a08a58;
}
.fot-img1{
  background: url(../img/realtorLogo.png) no-repeat;
  background-position: 0px 0px;
padding-left: 34px;
background-size: 28px;
}
.fot-img2{
  background: url(../img/mlsLogo.png) no-repeat;
  background-position: 0px 0px;
padding-left: 70px;
background-size: 62px;
}
.img-cul-inr{
  width: 200px;
  float: left; height: 200px; overflow: hidden; border:5px solid #ddd; border-radius: 100%;
}
.header-name-outer img {
  max-width: 22px; display: inline-block;
}

/**********************about us************************/

.about-me-bnr-bg{
  background:url(../img/abt-bg.jpg) no-repeat fixed; background-size: cover; background-position: top center;
  height: 250px; position: relative;
}
.about-me-bnr-bg::after{
  position: absolute; content: ""; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.75); left: 0px; top: 0px;
}
.about-me-bnr-bg h4{
  color: #fff; position: relative; z-index: 5; font-size: 60px; font-family: 'robotoblack'; text-transform: uppercase;
}

.circle-container {
  width: 330px;
  height: 330px;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: auto;
  -webkit-animation: scale-circle 1s linear 1;
  animation: scale-circle 1s linear 1;
  bottom: 0px;
  right: 0px;
}

.circle,
.circle div {
    width: 100%;
    height: 100%;
    position: absolute
}

.circle {
    -webkit-transition: all .5s;
    transition: all 1s
}

.circle div {
    border-radius: 50%;
    background: 0 0;
    border: 1px solid #a08a58;
    -webkit-animation: translate-circles 3s infinite;
    animation: translate-circles 3s infinite;
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in
}

.circle1 div {
    left: -5%;
    line-height: 1.3em;
    top: -3%;
    -webkit-animation: circle-rotate 10s linear infinite;
    animation: circle-rotate 10s linear infinite
}

.circle2 div {
    left: -4%;
    top: -6%;
    -webkit-animation: circle-rotate 7s linear infinite;
    animation: circle-rotate 7s linear infinite
}

.circle3 div {
    left: 1%;
    top: 5%;
    -webkit-animation: circle-rotate 7.3s linear infinite;
    animation: circle-rotate 7.3s linear infinite
}

.circle4 div {
    left: -5%;
    top: 4%;
    -webkit-animation: circle-rotate 6s linear infinite;
    animation: circle-rotate 6s linear infinite
}

.circle5 div {
    left: -5%;
    top: -3%;
    -webkit-animation: circle-rotate 7.5s linear infinite;
    animation: circle-rotate 7.5s linear infinite
}

.circle6 div {
    left: 3%;
    top: -2%;
    -webkit-animation: circle-rotate 6.7s linear infinite;
    animation: circle-rotate 6.7s linear infinite
}

.circle7 div {
    left: 0;
    top: 0;
    -webkit-animation: circle-rotate 8.5s linear infinite;
    animation: circle-rotate 8.5s linear infinite
}

.circle8 div {
    left: -1%;
    top: 3%;
    -webkit-animation: circle-rotate 5.2s linear infinite;
    animation: circle-rotate 5.2s linear infinite
}

.circle9 div {
    left: -7%;
    top: 5%;
    -webkit-animation: circle-rotate 6.3s linear infinite;
    animation: circle-rotate 6.3s linear infinite
}

.circle10 div {
    left: 3%;
    top: 0;
    -webkit-animation: circle-rotate 5.6s linear infinite;
    animation: circle-rotate 5.6s linear infinite
}

.circle11 div {
    left: 3%;
    top: -2%;
    -webkit-animation: circle-rotate 7s linear infinite;
    animation: circle-rotate 7s linear infinite
}

.circle12 div {
    left: -1%;
    top: -2%;
    -webkit-animation: circle-rotate 9.9s linear infinite;
    animation: circle-rotate 9.9s linear infinite
}

.circle13 div {
    left: -2%;
    top: 1%;
    -webkit-animation: circle-rotate 10.2s linear infinite;
    animation: circle-rotate 10.2s linear infinite
}

.circle14 div {
    left: 3.5%;
    top: 6%;
    -webkit-animation: circle-rotate 4.9s linear infinite;
    animation: circle-rotate 4.9s linear infinite
}

.circle15 div {
    left: -3%;
    top: -1%;
    -webkit-animation: circle-rotate 7.3s linear infinite;
    animation: circle-rotate 7.3s linear infinite
}

.circle-container.expand .circle2 {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
}

.circle-container.expand .circle3 {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2)
}

.circle-container.expand .circle4 {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3)
}

.circle-container.expand .circle5 {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5)
}

.circle-container.expand .circle6 {
    -webkit-transform: scale(1.8);
    -ms-transform: scale(1.8);
    transform: scale(1.8)
}

.circle-container.expand .circle7 {
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2)
}

.circle-container.expand .circle8 {
    -webkit-transform: scale(2.2);
    -ms-transform: scale(2.2);
    transform: scale(2.2)
}

.circle-container.expand .circle9 {
    -webkit-transform: scale(2.5);
    -ms-transform: scale(2.5);
    transform: scale(2.5)
}

.circle-container.expand .circle10 {
    -webkit-transform: scale(2.6);
    -ms-transform: scale(2.6);
    transform: scale(2.6)
}

.circle-container.expand .circle11 {
    -webkit-transform: scale(2.7);
    -ms-transform: scale(2.7);
    transform: scale(2.7)
}

.circle-container.expand .circle12 {
    -webkit-transform: scale(2.9);
    -ms-transform: scale(2.9);
    transform: scale(2.9)
}

.circle-container.expand .circle13 {
    -webkit-transform: scale(3.1);
    -ms-transform: scale(3.1);
    transform: scale(3.1)
}

.circle-container.expand .circle14 {
    -webkit-transform: scale(3.25);
    -ms-transform: scale(3.25);
    transform: scale(3.25)
}

.circle-container.expand .circle15 {
    -webkit-transform: scale(3.4);
    -ms-transform: scale(3.4);
    transform: scale(3.4)
}

.circle-container.compress .circle div {
    left: 0!important;
    top: 0!important
}

.circle.extended-time {
    transition: all 1.5s ease-out
}

@keyframes scale-circle {
    0% {
        transform: scale(4);
        opacity: 1
    }
    100% {
        transform: scale(1);
        opacity: 1
    }
}

@-webkit-keyframes circle-rotate {
    0% {
        -webkit-transform: rotate(0) translate(-20px) rotate(0) scale(1);
        transform: rotate(0) translate(-20px) rotate(0) scale(1)
    }
    100% {
        -webkit-transform: rotate(360deg) translate(-20px) rotate(-360deg) scale(1);
        transform: rotate(360deg) translate(-20px) rotate(-360deg) scale(1)
    }
}

@keyframes circle-rotate {
    0% {
        -webkit-transform: rotate(0) translate(-20px) rotate(0) scale(1);
        transform: rotate(0) translate(-20px) rotate(0) scale(1)
    }
    100% {
        -webkit-transform: rotate(360deg) translate(-20px) rotate(-360deg) scale(1);
        transform: rotate(360deg) translate(-20px) rotate(-360deg) scale(1)
    }
}
.abt-img {
  height: 330px;
  width: 330px;
  border-radius: 100%;
  background-color: #f5f5f5;
  position: relative;
  z-index: 5; overflow: hidden; margin: auto; box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.8);
}
.abt-img img {
  width: 100%;
  height: 100%;
}
.bg-gray{
  background-color: #f5f5f5;
}
.testi-outer{
  background:url(../img/testi.jpg) no-repeat fixed; background-size: cover; background-position: top center; position: relative;
}
.testi-outer::after{
  position: absolute; content: ""; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.75); left: 0px; top: 0px;
}
.testi-outer img {
  width: auto !important;
}
.testi-outer img{
  display: inline-block !important;
}
.testi-outer p{
  color: #fff; font-size: 18px; line-height: 28px; margin-top: 40px; margin-bottom: 30px;
}
.testi-user {
  display: inline-block;
  width: 65px;
  height: 65px;
  background: #fff;
  border-radius: 100%;
  overflow: hidden;
  border: 2px solid #a08a58; vertical-align: middle;
}
.testi-user-name {
  display: inline-block;
  vertical-align: middle; text-align: left; margin-left: 12px;
}
.testi-user-name h4{
  font-size: 16px; color: #fff; margin-bottom: 5px;
}
.testi-user-name h5{
  font-size: 16px; color: #fff;
}
.abt-add-out h4 {
  font-size: 20px;
  color: #000;
  font-family: 'robotobold';
  position: relative;
  padding-left: 27px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.abt-add-out h4 i{
  font-size: 20px; color: #a08a58; position: absolute; top: 2px; left: 0px;
}
.abt-map {
  width: 100% !important;
  height: 200px !important;
  border: 3px solid #ddd;
  margin-bottom: 10px;
  margin-top: 5px;
  float: left; border-radius: 5px;
}
.abt-map img {
  float: left;
  width: 100%;
  height: 100%;
}
.inner-heading{
  font-size: 32px; color: #000; text-transform: uppercase; font-family: 'robotobold'; margin-bottom: 20px;
}
.abt-list li{
  display: inline-block; width: 100%; position: relative; padding-left: 25px;
}
.abt-list li i{
  position: absolute; left: 0px; top: 2px; font-size: 20px; color: #a08a58;
}
.abt-sol-outer li{
  display: inline-block; vertical-align: top; margin: 5px 5px;
}
.abt-sol-outer li a{
  width: 80px; height: 80px; border-radius: 100%; text-align: center; background-color: #a08a58; display: inline-block; padding: 25px 0px;
}
.abt-sol-outer li a i{
  font-size: 25px; color: #fff;
}
.line-btn{
  font-size: 20px; color: #a08a58; border:2px solid #a08a58; text-transform: uppercase; border-radius: 5px; font-family: 'robotobold'; display: inline-block;
  padding: 18px 40px; text-decoration: none !important;
}
.line-btn:hover{
  background-color: #a08a58; color: #fff;
}
.abt-ryt-top-ad p{
  margin: 5px 0px;
}
.abt-ryt-top-ad p span{
  font-family: 'robotobold'; color: #000;
}
.abt-logo-btn {
  width: 250px;
  padding: 20px 20px;
}
.form-control.h-100{
  height: 100px !important;
}
.abt-map-img{
  border-radius: 5px; border:5px solid #ddd;
}

/**********************about us************************/

/*****************search******************/

.search-top-filter{
  position: fixed; z-index: 9; top: 0px; left: 0px; background-color: #fff;
}
.search-page-outer {
  padding-top: 77px;
  padding-left: 65.5%;
}
.search-page-left {
  position: fixed;
  height: 100%; left: 0px; width: 65%;
}
.serch-block1 {
  display: inline-block;
  vertical-align: top;
  width: 47%;
  margin-left: 1%;
  margin-right: 1%;
}
.search-page-left img{
  height: 100%; width: 100%;
}
.search-page-right {
  float: left;
  width: 100%;
  padding: 0px 20px;
}

/*****************search******************/

@media screen and (max-width:1600px) {

.serch-block1 {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

}


@media screen and (max-width:1300px) {

.owl-prev {
  left: -28px !important;
}
.owl-next {
  right: -28px !important;
}
.bnr-srh-btn {
  position: static;
  width: 100%;
  margin-top: 10px; display: inline-block;
}

}

@media screen and (max-width:1200px) {

.banner-left h4{
  font-size: 40px;
}

}


@media screen and (max-width:991px) {

.add-block-outer{
  width: 45%; margin: 12px 1.5%;
}
.agent-right-content {
  margin-top: 25px;
}
.agent-left-content {
  margin-top: 30px;
}
.real-report .inp-out{
  margin-bottom: 15px;
}
.footer-logo img{
  max-width: 500px; margin-bottom: 25px; width: 100%;
}
.footer-btm .text-center {
  text-align: left !important;
}

}

@media screen and (max-width:900px) {

.banner-outer{
  display: inline-block; float: left; position: relative;
}
.banner-left{
  display: inline-block; width: 100%; padding: 0px; text-align: center; margin-bottom: 40px;
}
.banner-right{
  display: inline-block; width: 100%; padding: 0px; text-align: center;
}
.banner-bg{
  height: auto;
}
.banner-bg::after{
  background: rgba(0, 0, 0, 0.8);
}
.bnr-arrow{
  display: none;
}

}

@media screen and (max-width:767px) {

.mt-md-40{
  margin-top: 40px;
}
.abt-ryt-top-ad {
  text-align: center;
}

}

@media screen and (max-width:600px) {

.owl-prev {
  left: 0px !important; height: 40px;
width: 40px;
}
.owl-next {
  right: 0px !important; height: 40px;
width: 40px;
}
.owl-next span {
  font-size: 26px;
  line-height: 24px;
}
.owl-nav {
  top: inherit;
  bottom: 0px;
  width: 100px;
  right: 0px;
  left: 0px;
}
.fot-img1 {
  padding-left: 0px;
  padding-top: 35px;
}
.fot-img2 {
  padding-left: 0px;
  padding-top: 28px;
}

}

@media screen and (max-width:550px) {

.add-block-outer {
  width: 100%;
  margin: 12px 0px; height: 184px;
}
.banner-left h4 {
  font-size: 30px;
}
.about-me-bnr-bg h4{
  font-size: 40px;
}
.about-me-bnr-bg{
  width: 200px;
}
.abt-img {
  height: 230px;
  width: 230px;
}
.circle-container {
  width: 230px;
  height: 230px;
}
.abt-sol-outer li a {
  width: 60px;
  height: 60px;
  padding: 18px 0px;
}
.abt-sol-outer li a i {
  font-size: 20px;
}


}

@media screen and (max-width:575px) {

.agent-img, .agent-right-content, .agent-left-content{
  text-align: center;
}
.img-cul-inr{
  float: none; display: inline-block;
}
.agent-left-content ul li a i{
  position: static;
}
.mb-15-575{
  margin-bottom: 15px;
}
.col-3-575{
  width: 32%;
}

}

@media screen and (max-width:350px){

  .header-name-outer{
  width: 100%;
  text-align: center; margin-bottom: 10px;
}
.header-phone-outer, .header-phone-outer ul {
  width: 100%; text-align: center;
}
}
